*{
    margin:0;
    padding:0;
    outline: none;
    border:none;
    
}
p{
    font-size:15px;
}

body{
    background-color: rgb(40,40,40);
    color: rgb(202, 204, 216);

    font-family: 'Roboto', sans-serif;
}
.container{
    padding:2rem 5rem;
}
html{
    font-size:99%;
}
@media(max-width:800px){
    .container{
        padding:2rem;
    }
}